In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Resources/hospital_readmissions.csv")

In [3]:
df = pd.read_csv("Resources/hospital_readmissions.csv")

In [7]:
name= "asssas"
print(f"hello {name}")

hello asssas

In [4]:
df

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,[80-90),14,77,1,30,0,0,0,Missing,Circulatory,Other,Circulatory,no,normal,no,no,yes
24996,[80-90),2,66,0,24,0,0,0,Missing,Digestive,Injury,Other,no,high,yes,yes,yes
24997,[70-80),5,12,0,6,0,1,0,Missing,Other,Other,Other,normal,no,no,no,yes
24998,[70-80),2,61,3,15,0,0,0,Family/GeneralPractice,Respiratory,Diabetes,Other,no,no,yes,yes,no
24999,[50-60),10,37,1,24,0,0,0,Missing,Other,Diabetes,Circulatory,no,no,no,no,yes

In [51]:
df[~(df["diag_1"] == "Diabetes") & (df["diag_2"] == "Diabetes")]

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
19,[60-70),2,16,3,16,0,0,0,Missing,Circulatory,Diabetes,Other,no,no,no,no,no
30,[80-90),2,16,2,17,2,0,0,Missing,Musculoskeletal,Diabetes,Musculoskeletal,normal,no,no,yes,no
34,[80-90),1,54,1,8,0,0,0,Other,Other,Diabetes,Circulatory,no,no,no,yes,no
65,[40-50),3,29,0,8,0,0,1,Missing,Respiratory,Diabetes,Missing,no,no,yes,yes,yes
67,[50-60),1,52,0,7,0,0,0,Emergency/Trauma,Digestive,Diabetes,Other,no,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24976,[60-70),3,48,1,22,0,0,0,Other,Musculoskeletal,Diabetes,Other,no,no,yes,yes,no
24978,[70-80),4,25,0,10,0,0,0,Missing,Other,Diabetes,Diabetes,no,no,no,yes,no
24990,[50-60),1,15,1,10,0,0,0,Surgery,Musculoskeletal,Diabetes,Circulatory,no,no,no,no,no
24998,[70-80),2,61,3,15,0,0,0,Family/GeneralPractice,Respiratory,Diabetes,Other,no,no,yes,yes,no
24999,[50-60),10,37,1,24,0,0,0,Missing,Other,Diabetes,Circulatory,no,no,no,no,yes

In [48]:
#boolean masking -- >for filtering
df[(df["diag_1"] == "Diabetes" & df["diag_2"] == "Diabetes") | (df["diag_2"] == "Diabetes" & df["diag_3"] == "Diabetes") | (df["diag_3"] == "Diabetes" & df["diag_1"] == "Diabetes")]

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [41]:
diag_1 = df["diag_1"].value_counts()["Diabetes"]
diag_2 = df["diag_2"].value_counts()["Diabetes"]
diag_3 = df["diag_3"].value_counts()["Diabetes"]

In [43]:
diag_1 + diag_2 + diag_3

8914

In [33]:
df[df[["diag_1" , "diag_2" , "diag_3"]] == "Diabetes"]

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diabetes,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diabetes,NaN,NaN,NaN,NaN,NaN,NaN
24999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diabetes,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,[80-90),14,77,1,30,0,0,0,Missing,Circulatory,Other,Circulatory,no,normal,no,no,yes
24996,[80-90),2,66,0,24,0,0,0,Missing,Digestive,Injury,Other,no,high,yes,yes,yes
24997,[70-80),5,12,0,6,0,1,0,Missing,Other,Other,Other,normal,no,no,no,yes
24998,[70-80),2,61,3,15,0,0,0,Family/GeneralPractice,Respiratory,Diabetes,Other,no,no,yes,yes,no
24999,[50-60),10,37,1,24,0,0,0,Missing,Other,Diabetes,Circulatory,no,no,no,no,yes

In [29]:
df[df["diag_1" , "diag_2" , "Diag_3"]].str.contains("diabetes")

KeyError: ('diag_1', 'diag_2', 'Diag_3')